
/* NavBar */
.navbar{
    padding: 2rem;
    background-color: azure;   
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/* section */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura{
    background-color: black; 
    color: aliceblue;
}
.seccion-clara{
    background-color: aliceblue; 
    color: black;
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-texto{
    font-size: 1rem;
    padding: 20px;
}


/* Seccion hero */
.hero{
    background-color: beige;
    min-height: 45rem;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}
.hero-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: darkgrey;
}


/* Sobre mi */
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid #6c6b6b4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: black;
}

.experiencia .row div{
    min-height: 180px;
}
.experiencia i{
    font-size: 2.5rem;
    color: chartreuse;
    background-color: black;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}


@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}